## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cidreira,BR,-30.1811,-50.2056,81.25,51,0,11.86,clear sky
1,1,Valparaiso,CL,-33.0393,-71.6273,70.52,70,3,9.60,clear sky
2,2,Nelson Bay,AU,-32.7167,152.1500,71.01,67,76,3.00,broken clouds
3,3,Ingraj Bazar,IN,25.0000,88.1500,60.26,64,5,1.52,clear sky
4,4,New Norfolk,AU,-42.7826,147.0587,52.72,74,4,1.95,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cidreira,BR,-30.1811,-50.2056,81.25,51,0,11.86,clear sky
9,9,Rikitea,PF,-23.1203,-134.9692,79.09,70,2,16.75,clear sky
10,10,Puerto Ayora,EC,-0.7393,-90.3518,82.36,86,58,8.01,broken clouds
17,17,Puerto Escondido,MX,15.8500,-97.0667,86.83,70,0,11.50,clear sky
19,19,Olinda,BR,-8.0089,-34.8553,85.73,54,40,9.22,scattered clouds
20,20,Avarua,CK,-21.2078,-159.7750,77.05,88,85,10.36,overcast clouds
24,24,Atuona,PF,-9.8000,-139.0333,78.78,72,0,19.04,clear sky
25,25,Hambantota,LK,6.1241,81.1185,79.14,83,40,8.05,scattered clouds
29,29,Port Alfred,ZA,-33.5906,26.8910,75.02,82,47,26.22,scattered clouds
37,37,Cabedelo,BR,-6.9811,-34.8339,82.62,62,20,10.45,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                195
City                   195
Country                194
Lat                    195
Lng                    195
Max Temp               195
Humidity               195
Cloudiness             195
Wind Speed             195
Current Description    195
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna(subset=['Country'])
preferred_cities_df.count()

City_ID                194
City                   194
Country                194
Lat                    194
Lng                    194
Max Temp               194
Humidity               194
Cloudiness             194
Wind Speed             194
Current Description    194
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cidreira,BR,81.25,clear sky,-30.1811,-50.2056,
9,Rikitea,PF,79.09,clear sky,-23.1203,-134.9692,
10,Puerto Ayora,EC,82.36,broken clouds,-0.7393,-90.3518,
17,Puerto Escondido,MX,86.83,clear sky,15.8500,-97.0667,
19,Olinda,BR,85.73,scattered clouds,-8.0089,-34.8553,
20,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,
24,Atuona,PF,78.78,clear sky,-9.8000,-139.0333,
25,Hambantota,LK,79.14,scattered clouds,6.1241,81.1185,
29,Port Alfred,ZA,75.02,scattered clouds,-33.5906,26.8910,
37,Cabedelo,BR,82.62,few clouds,-6.9811,-34.8339,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")    
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cidreira,BR,81.25,clear sky,-30.1811,-50.2056,Hotel Castelo
9,Rikitea,PF,79.09,clear sky,-23.1203,-134.9692,People ThankYou
10,Puerto Ayora,EC,82.36,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
17,Puerto Escondido,MX,86.83,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
19,Olinda,BR,85.73,scattered clouds,-8.0089,-34.8553,Hotel Albergue de Olinda

In [12]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df["Hotel Name"] = hotel_df["Hotel Name"].replace([""],np.nan)
clean_hotel_df = hotel_df.dropna()  
clean_hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cidreira,BR,81.25,clear sky,-30.1811,-50.2056,Hotel Castelo
9,Rikitea,PF,79.09,clear sky,-23.1203,-134.9692,People ThankYou
10,Puerto Ayora,EC,82.36,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
17,Puerto Escondido,MX,86.83,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
19,Olinda,BR,85.73,scattered clouds,-8.0089,-34.8553,Hotel Albergue de Olinda
20,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,Paradise Inn
24,Atuona,PF,78.78,clear sky,-9.8000,-139.0333,Villa Enata
25,Hambantota,LK,79.14,scattered clouds,6.1241,81.1185,Bungalow 63
29,Port Alfred,ZA,75.02,scattered clouds,-33.5906,26.8910,The Halyards Hotel
37,Cabedelo,BR,82.62,few clouds,-6.9811,-34.8339,Hotel Pigalle
41,Honiara,SB,78.49,overcast clouds,-9.4333,159.9500,Heritage Park Hotel
48,Atar,MR,80.96,clear sky,20.5169,-13.0499,Oumou Elghoura
49,Castro,BR,77.86,moderate rain,-24.7911,-50.0119,CHACARA BAILLY
51,Vaini,TO,75.36,light rain,-21.2000,-175.2000,Keleti Beach Resort
61,Kahului,US,76.84,few clouds,20.8947,-156.4700,Maui Seaside Hotel
62,Ewa Beach,US,78.75,clear sky,21.3156,-158.0072,Uncle Junior Robert
63,Port Barton,PH,78.53,overcast clouds,10.4756,119.2472,Camping palawan
78,Santo Angelo,BR,85.91,clear sky,-28.2992,-54.2631,Hotel Nova Esperança Aberto 24h
80,Port Elizabeth,ZA,78.10,light rain,-33.9180,25.5701,39 On Nile Guest House
82,Kununurra,AU,75.18,overcast clouds,-15.7667,128.7333,Hotel Kununurra

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))